.estudios{
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}
.card{
    height: 25rem;
}

.card img{
    height: 15rem;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.card-body{
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.card-body a{
    width: 65%;
}